.top{
padding: 3% 0%;
}
.center{
    text-align: center;
}
.glyphicon-large{
    font-size: 72px
}
html { font-family: 'Century Gothic', Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal;}

.iconbox{border-right-color:#DCDCDC;border-right-style:dashed;width:25%;}
.iconboxsm{border-bottom-color:#DCDCDC;border-bottom-style:dashed;width:100%;padding: 3%: 0%}
.white{
    color: white;
}
.justify{
text-align: justify
}

.padding-3{
padding: 15px 0%;
}
.padding-1{
padding: 5px 0%;
}
.padding-2{
padding: 10px 0%;
}
.padding-4{
padding: 20px 0%;
}
.padding-5{
padding: 25px 0%;
}
.black{background-color: #222222}
.blog-sample{font-size: 14px}
.btn{
  font-size: 24px;
}