.dark-nav{
	background: linear-gradient(#777, #555555);
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-tab{
	text-align: center;
	color: white;
}
.nav-full{
	width: 100%
}
.btn-nav{
	
}
.footer-main{
	background-color: #444;
}